/*==========  header  ==========*/
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 48px 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
  font-weight: 600;
  font-family: "Commissioner", sans-serif;
  margin: 0 auto 0 70px; }
  .menu li {
    margin: 0 31px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #212121;
      padding: 0 0 5px;
      border-bottom: 2px solid rgba(51, 51, 51, 0.1); }
      .menu li a:hover {
        color: #5138EE;
        border-color: transparent; }

.btn-user {
  margin-right: -55px;
  max-width: 118px;
  height: 40px; }

/*==========  header end  ==========*/
/*==========  header-top  ==========*/
.header-top {
  -webkit-transition: .4s ease;
  transition: .4s ease;
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  background: #fff;
  padding: 17px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 5; }
  .header-top .logo {
    margin: 0 auto 0 0; }
  .header-top .menu {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .header-top .btn-user {
    margin: 0 0 0 24px; }
    .header-top .btn-user .btn-icon-user {
      fill: #fff; }

.header-top.fixed {
  top: 0; }

.overlay {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(54, 51, 73, 0.55);
  display: none;
  left: 0;
  top: 0; }

.btn-burger {
  width: 48px;
  height: 48px;
  position: relative;
  background: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #F0F2F5;
  margin-right: 18px; }
  .btn-burger span {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    width: 24px;
    height: 1.5px;
    background: #0E1019;
    display: block;
    margin: 0 0 3px; }
    .btn-burger span:last-child {
      margin: 0; }
  .btn-burger.click {
    border-color: transparent;
    background: #212121; }
    .btn-burger.click span {
      background: #FAFAFA;
      margin: 0; }
      .btn-burger.click span:last-child {
        margin: -1px 0 0 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .btn-burger.click span:first-child {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }

/*==========  header-top end  ==========*/
