/*==========  section home ==========*/
.home {
  padding: 24px;
  background: #fff; }
  .home .btn {
    max-width: 230px;
    width: 100%; }

.home-wrapper {
  background: radial-gradient(98.38% 201.1% at 98.38% 1.66%, #FFFFFF 0%, #EAEDFF 24.48%, #F1F1FF 78.12%, #F7F7FF 100%);
  border-radius: 32px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 179px 0 29px; }
  .home-wrapper:before {
    content: '';
    position: absolute;
    width: 1024px;
    height: 992px;
    background: url("../img/home-bg.svg") no-repeat center;
      background-size: contain;
    top: -255px;
    right: -340px; }

.toggle-icon {
  position: relative;
  width: 46px;
  height: 33px;
  -webkit-box-shadow: inset 0px 0px 8px rgba(66, 65, 74, 0.1);
          box-shadow: inset 0px 0px 8px rgba(66, 65, 74, 0.1);
  border-radius: 32px;
  background: #E4EAF1;
  margin: 0 0 -5px;
  display: inline-block; }
  .toggle-icon:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    border-radius: 50%;
    background: #5138EE;
    width: 24px;
    height: 24px; }

.uptime {
  position: relative;
  letter-spacing: -0.005em;
  font-family: "Commissioner", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 135px 0 0 -16px; }
  .uptime:hover .uptime-icon {
    background: rgba(83, 208, 51, 0.1); }
    .uptime:hover .uptime-icon:before {
      background: rgba(83, 208, 51, 0.2); }
    .uptime:hover .uptime-icon:after {
      background: rgba(83, 208, 51, 0.4); }

.uptime-icon {
  position: relative;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin: 0 5px 0 0;
  background: rgba(83, 208, 51, 0.15);
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .uptime-icon:before, .uptime-icon:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(83, 208, 51, 0.3); }
  .uptime-icon:after {
    background: #53D033;
    width: 5px;
    height: 5px; }

.btn-scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.home-image {
  position: absolute;
  right: 27px;
  bottom: 0;
  max-width: 649px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*==========  section home end  ==========*/
/*==========  section advantages ==========*/
.advantages {
  margin: 76px 0 22px; }

.advantages-row {
  margin: 0 -20px; }

.col-20 {
  padding: 0 20px;
  margin: 0 0 40px;
  width: 20%; }

.advantages-box {
  border-radius: 12px;
  background: #F4F4FF;
  width: 100%;
  height: 100%;
  padding: 24px 24px 48px;
  letter-spacing: -0.01em;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 140%;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 18px;
    width: 64px;
    height: 64px;
    background: #DADAF9;
    border-radius: 8px;
    padding: 10px; }
  .advantages-box:hover {
    -webkit-box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.07), 0px 6.76164px 10.0172px rgba(0, 0, 0, 0.035);
            box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.07), 0px 6.76164px 10.0172px rgba(0, 0, 0, 0.035);
    background: #fff; }

/*==========  section advantages end  ==========*/
/*==========  section methods ==========*/
.methods h2 {
  margin: 0 0 40px; }

.icon-arrow-down {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  fill: #212121;
  -webkit-box-shadow: 0 54px 80px rgba(0, 0, 0, 0.07), 0px 6.76164px 10.0172px rgba(0, 0, 0, 0.035);
          box-shadow: 0 54px 80px rgba(0, 0, 0, 0.07), 0px 6.76164px 10.0172px rgba(0, 0, 0, 0.035);
  width: 32px;
  height: 32px;
  min-width: 32px; }

.icon-arrow-up {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  border-radius: 50%;
  fill: #fff;
  width: 32px;
  height: 32px;
  min-width: 32px;
  background: #5138EE;
  padding: 7px; }
  .icon-arrow-up svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.methods-wrapper {
  width: 100%;
  background: #F4F4FF;
  border-radius: 32px;
  padding: 64px 139px 83px 142px; }

.methods-box {
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 24px 22px 24px 24px;
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: "Commissioner", sans-serif;
  border-radius: 12px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .methods-box:hover {
    -webkit-box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.07), 0px 6.76164px 10.0172px rgba(0, 0, 0, 0.035);
            box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.07), 0px 6.76164px 10.0172px rgba(0, 0, 0, 0.035); }
  .methods-box__icon {
    margin: 0 0 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px; }

.tab-content {
  margin: 38px 0 0; }

.nav-tabs {
  border: none; }
  .nav-tabs .nav-item {
    margin: 0 32px 0 0; }
    .nav-tabs .nav-item:last-child {
      margin: 0; }
  .nav-tabs .nav-link {
    padding: 0 0 8px;
    color: #718692;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.01em;
    border: none;
      border-radius: 0;
      border-bottom: 2px solid transparent; }
    .nav-tabs .nav-link.active {
      border-color: #5138EE;
      background: transparent;
      color: #212121; }

/*==========  section methods end  ==========*/
/*==========  section instructions ==========*/
.instructions h2 {
  margin: 0 auto 56px; }

.instructions-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px; }

.instructions-box {
  text-align: center;
  letter-spacing: -0.01em;
  font-size: 15px;
  max-width: 233px;
  position: relative; }
  .instructions-box:first-child:after {
    right: -40px; }
  .instructions-box:nth-child(2):after {
    right: -66px; }
  .instructions-box:nth-child(3):after {
    right: -78px; }
  .instructions-box:last-child:after {
    display: none; }
  .instructions-box:after {
    content: '';
    width: 48px;
    height: 2px;
    background: url("../img/line.svg") no-repeat center;
      background-size: 100%;
    display: inline-block;
    position: absolute;
    top: 143px;
    right: -50px; }
  .instructions-box .btn {
    height: 46px;
    font-size: 14px;
    margin: 24px auto 0; }
  .instructions-box__icon {
    position: relative;
    height: 204px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .instructions-box__number {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    width: 32px;
    height: 32px;
    text-align: center;
    letter-spacing: -0.01em;
    font-size: 20px;
    font-weight: 700;
    font-family: "Commissioner", sans-serif; }
  .instructions-box p {
    font-family: "Commissioner", sans-serif;
    line-height: 140%; }
  .instructions-box h3 {
    margin: 20px auto 12px;
    letter-spacing: -0.01em;
    font-size: 24px;
    font-weight: 500; }

/*==========  section instructions end  ==========*/
/*==========  section callback ==========*/
.callback {
  margin: 0 0 184px; }
  .callback h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.02em; }

.callback-wrapper {
  -webkit-box-shadow: 0px 54px 80px rgba(0, 42, 152, 0.08), 0px 12.0616px 17.869px rgba(0, 42, 152, 0.0476886), 0px 3.59106px 5.32008px rgba(0, 42, 152, 0.0323114);
          box-shadow: 0px 54px 80px rgba(0, 42, 152, 0.08), 0px 12.0616px 17.869px rgba(0, 42, 152, 0.0476886), 0px 3.59106px 5.32008px rgba(0, 42, 152, 0.0323114);
  background: #F4F4FF;
  border-radius: 32px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.callback-content {
  width: calc(100% - 430px);
  position: relative;
  padding: 64px 100px 26px; }

.form-callback {
  max-width: 372px;
  width: 100%; }
  .form-callback button {
    width: 100%;
    height: 56px;
    font-size: 14px;
    border-radius: 6px; }
  .form-callback label {
    margin: 0 0 18px;
    position: relative; }

.input-title {
  display: block;
  color: #718692;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-family: "Commissioner", sans-serif;
  line-height: 140%;
  position: absolute;
  left: 16px;
  top: 9px; }

.consent {
  margin: 24px 0 0;
  letter-spacing: -0.02em;
  font-size: 12px;
  color: #0E1019;
  font-family: "Commissioner", sans-serif; }
  .consent a {
    color: #718692; }
    .consent a:hover {
      color: #5138EE; }

.time-box {
  position: absolute;
  letter-spacing: -0.02em;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -65px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: url("../img/time-bg.svg") no-repeat center;
    background-size: cover;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff; }
  .time-box img {
    margin: 0 auto -10px; }

.callback-image {
  width: 430px;
  overflow: hidden;
  background: url("../img/callback-decor.svg") no-repeat center #5138EE;
    background-size: cover;
  padding: 18px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .callback-image img {
    min-width: 896px;
    margin: 0 0 -290px -184px; }

/*==========  section callback end  ==========*/
/*==========  section 404 ==========*/
.wrapper-page {
  background: #f4f4ff;
  height: 100vh; }

.error-page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .error-page .btn {
    margin: 0 auto; }
  .error-page h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 96px;
    font-weight: 500;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    position: relative; }
    .error-page h1:before, .error-page h1:after {
      content: '';
      position: absolute;
      width: 21px;
      height: 21px;
      background: url("../img/star.svg") no-repeat center;
        background-size: 100%; }
    .error-page h1:before {
      right: -56px;
      top: -17px; }
    .error-page h1:after {
      left: -66px;
      bottom: 20px; }
    .error-page h1 span {
      font-style: italic; }

.subtitle {
  text-align: center;
  margin: 0 auto 32px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.01em; }

/*==========  section 404 end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
