@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Jost", sans-serif;
  font-weight: normal;
  background: #fff;
  border-radius: 32px;
  color: #212121; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 27px 16px 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  width: 100%;
  height: 56px;
  letter-spacing: -0.01em;
  font-size: 14px;
  color: #212121;
  border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;
  background: #ECECF8;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #212121; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #212121; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #212121; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #212121; }
  input:hover, textarea:hover, select:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.04)), to(rgba(0, 0, 0, 0.04))), #E4E4F5;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #E4E4F5;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.error-text {
  display: block;
  margin: 8px 0 0;
  color: #F02247; }

.error-label .input-title {
  color: #F02247; }

.error-label input {
  border-color: transparent;
  background: rgba(240, 34, 71, 0.15); }

label {
  display: block;
  width: 100%; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Jost", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 56px;
  border-radius: 8px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.01em; }

.btn-arrow-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 6px;
  display: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn-sm {
  height: 46px;
  font-size: 14px;
  padding: 0 32px; }

.btn-accent {
  color: #FAFAFA;
  background: #5138EE; }
  .btn-accent:hover {
    background: #1C1450;
    color: #fff;
    -webkit-box-shadow: 0 12px 72px rgba(28, 20, 80, 0.3);
            box-shadow: 0 12px 72px rgba(28, 20, 80, 0.3); }
    .btn-accent:hover .btn-arrow-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.btn-accent-v2:hover {
  background: #212121; }

.btn-submit:hover {
  background: #212121;
  -webkit-box-shadow: none;
          box-shadow: none; }

.btn-white {
  font-size: 14px;
  font-weight: 600;
  background: #ffffff; }
  .btn-white .btn-icon {
    fill: #212121; }
  .btn-white:hover {
    -webkit-box-shadow: 0 18px 80px rgba(0, 0, 0, 0.07), 0 4.02054px 17.869px rgba(0, 0, 0, 0.0417275), 0 1.19702px 5.32008px rgba(0, 0, 0, 0.0282725);
            box-shadow: 0 18px 80px rgba(0, 0, 0, 0.07), 0 4.02054px 17.869px rgba(0, 0, 0, 0.0417275), 0 1.19702px 5.32008px rgba(0, 0, 0, 0.0282725);
    background: #DAEAF9; }

.btn-black {
  background: #212121;
  color: #fff; }
  .btn-black:hover {
    -webkit-box-shadow: 0 18px 80px rgba(0, 0, 0, 0.07), 0 4.02054px 17.869px rgba(0, 0, 0, 0.0417275), 0 1.19702px 5.32008px rgba(0, 0, 0, 0.0282725);
            box-shadow: 0 18px 80px rgba(0, 0, 0, 0.07), 0 4.02054px 17.869px rgba(0, 0, 0, 0.0417275), 0 1.19702px 5.32008px rgba(0, 0, 0, 0.0282725);
    background: #5138EE;
    color: #fff; }

.btn-icon-user {
  width: 11px;
  min-width: 11px;
  height: 14px;
  margin-right: 6px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.container {
  max-width: 1228px;
  padding: 0 12px; }

.row {
  margin: 0 -12px; }

.logo {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  color: #000; }
  .logo:hover {
    color: #5138EE; }

.color-accent {
  color: #5138EE; }

h1 {
  letter-spacing: -0.01em;
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 48px;
  width: 100%; }

h2 {
  letter-spacing: -0.01em;
  font-size: 36px;
  font-weight: 500;
  width: 100%;
  margin: 0 0 48px;
  line-height: 120%; }

.m-100 {
  margin: 100px 0; }

.d-inline {
  display: inline-block; }

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
